
/* Pedidos Mobile */

#pedido{
    border-top: 5px rgb(214, 160, 148) solid;
}

.separadorPedido{
    margin-top: 0px;
}

.pedidoProductos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.separadorCarrito{
    margin-top: 20px;
    font-size: 18px;
}

.pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedido a{
    margin-top: 20px;
    margin-bottom: 50px;
    height: 65%;
    width: 65%;
}

.pedido a img{
    height: 100%;
    width: 100%;
}

/* Nosotros Mobile */

/* Productos mobile */

#productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sProductos{
    margin-top: 10px;
    width: 100%;
}

.productos__style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.tProductos{
    height: 385px;
    width: 200px;
    background-color: rgb(250, 231, 227);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px rgb(214, 160, 148) solid;
}

.tProductos h4{
    font-size: 20px;
}

#fProductos{
    margin-top: 20px;
}

/* FAQ Page */

#faq{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sFaq1{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 231, 227);
    border: 2px rgb(214, 160, 148) solid;
}

.sFaq1 h3{
    background-color: rgb(250, 196, 186);
}

.sFaq1 ul li{
    font-size: 16px;
}

.sFaq2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 231, 227);
    border: 2px rgb(214, 160, 148) solid;
}

.sFaq2 h3{
    background-color: rgb(250, 196, 186);
    font-size: 21px;
    text-align: center;
}

.sFaq2 p{
    font-size: 16px;
    text-align: center;
}

.redesFaq{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.redesFaq a img{
    height: 50px;
    width: 50px;
}


#fFaq{
    margin-top: 30px;
}

/* Style Tablet */

@media (min-width: 768px) {
    
    /* page Pedido */

    #pedido{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "sPedido2 sPedido1";
    }

    #sPedido1{
        grid-area: sPedido1;
    }

    .pedidoProductos{
        flex-direction: column;
        align-items: center;
    }

    .pedidoProductos img {
        padding: 5px;
        background-color: rgb(214, 160, 148);
        margin-bottom: 15px;
    }

    #sPedido2{
        grid-area: sPedido2;
        border-right: 2px black solid;
    }

    .pedido a{
        height: 300px;
        width: 300px;
    }

    .separadorCarrito{
        margin-top: 0px;
    }

    #fPedido{
        margin-top: 0px;
    }

    /* page Nosotros */


    /* Page Productos */
    
    #productos{
        align-items: normal;
    }

    .productos__style{
        flex-direction: row;
        justify-content: space-around;
    }
}


/* Style Desktop */

@media (min-width: 1024px) {


    .pedido a{
        margin-top: 60px;
    }

    /* Nosotros */

    #fNosotros{
        margin: 0px;
    }

    #nosotros{
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: 
        "section1 section2"
        "section1 section2"
        ". section2";
    }

    .sNosotros1{
        width: 600px;
    }

    .sNosotros1 div p{
        font-size: 21px;
    }

    .sNosotros1 div img{
        height: 175px;
        width: 175px;
    }

    .sNosotros2{
        margin: 0px;
    }

    /* Page Productos */

    .sTartas{
        margin-top: 15px;
    }

    .productos__style{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tProductos{
        height: 450px;
        width: 350px;
        margin-top: 0px;
    }

    .tProductos img{
        height: 225px;
        width: 225px;
    }

    .tProductos h4{
        font-size: 26px;
    }

    .tProductos ul li{
        font-size: 22px;
    }

    .sFaq1 h3{
        font-size: 26px;
    }

    .sFaq1 ul li{
        font-size: 21px;
    }

    .sFaq2{
        width: 400px;
    }

    .sFaq2 h3{
        font-size: 26px;
    }

    .sFaq2 p{
        font-size: 21px;
    }
}