*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(252, 241, 239);
    font-family: 'Inter', sans-serif;
}

/* Style Mobile */

header nav {
    background-color: rgb(228, 205, 200);
}

main{
    display: flex;
    flex-direction: column;
    
}

#section1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mobile__style{
    width: 75%;
    height: 75%;
}

#section2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;   
}

.mobile__style{
    display: block;
    width: 75%;
    text-align: justify;
    font-size: 15px;
    background-color: rgb(255, 221, 214);
}

.desktop__style {
    display: none;
}

.desktop__only{
    display: none;
}

.separador {
    background-image:url(../images/navbar.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.separador h3 {
    font-size: 20px;
    background-color: rgb(255, 221, 214);
    margin: 0;
}

#ultimosProductos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}


.logoFlotante {
   position: fixed;
   bottom: 0;
   right: 0;
}

footer {
    background-color: rgb(228, 205, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    font-size: 13px;
    margin-bottom: 0;
}

.copyright{
    font-size: 10px;
    align-items: center;
}

.redes ul {
    list-style: none;
}

.redes ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Pedidos Mobile */

#pedido{
    border-top: 5px rgb(214, 160, 148) solid;
}

.separadorPedido{
    margin-top: 0px;
}

.pedidoProductos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.separadorCarrito{
    margin-top: 20px;
    font-size: 18px;
}

.pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedido a{
    margin-top: 20px;
    margin-bottom: 50px;
    height: 65%;
    width: 65%;
}

.pedido a img{
    height: 100%;
    width: 100%;
}

/* Nosotros Mobile */

.sNosotros1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(250, 231, 227);
    
}

.sNosotros1 h3{
    background-color: rgb(255, 221, 214);
}

.sNosotros1 div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sNosotros1 div p{
    font-size: 15px;
    text-align: justify;
}

.sNosotros2{
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 40px;
}

.sNosotros2 .tNosotros{
    background-color: rgb(250, 231, 227);
    height: 150px;
    width: 60%;
    border: 2px rgb(214, 160, 148) solid;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sNosotros2 .tNosotros p{
    text-align: center;
    background-color: rgb(250, 196, 186);
    font-size: 20px;
}

/* Productos mobile */

#productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sProductos{
    margin-top: 10px;
    width: 100%;
}

.productos__style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.tProductos{
    height: 385px;
    width: 200px;
    background-color: rgb(250, 231, 227);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px rgb(214, 160, 148) solid;
}

.tProductos h4{
    font-size: 20px;
}

#fProductos{
    margin-top: 20px;
}
/* Style Tablet */

@media (min-width: 768px) {
    
    header nav {
        background-image: url(../images/navbar.png);
    }

    .desktop__style {
        display:initial ;
    }

    #section1{
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 75px 75px 75px 75px ;
        grid-template-areas: 
        "desayuno collage"
        "tarta collage"
        "sandwich collage"
        "merienda collage";
        justify-items: center;
        align-items: center;
    }
    
    .collage{
        grid-area: collage;
        height: 300px;
        width: 300px;
    }

    .desayuno{
        grid-area: desayuno;
    }

    .tarta{
        grid-area: tarta;
    }

    .sandwich{
        grid-area: sandwich;
    }

    .merienda{
        grid-area: merienda;
    }

    #section2 p{
        font-size: 18px;
    }

    .separador{
        background-size: auto;
        height: 40px;
    }

    .separador h3{
        font-size: 23px;
        text-align: center;
    }

    .tarjetas{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }

    .tarjetas .tarjetas--style{
        height: 280px;
        width: 230px;
        background-color: rgb(250, 231, 227);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .tarjetas--style a{
        text-decoration: none;
        background-color: rgb(214, 160, 148);
        color: black;
        padding: 5px;
    }

    footer{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 40px;
        grid-template-areas: 
        "info . redes"
        ". copyright .";
    }

    .infoExtra{
        grid-area: info;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infoExtra p{
        font-size: 17px;
    }

    .infoExtra ul li a{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    .redes{
        grid-area: redes;
    }

    .copyright{
        grid-area: copyright;
        display: flex;
        justify-content: center;
    }

    .onlyMobile {
        display: none;
    }

    /* page Pedido */

    #pedido{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "sPedido2 sPedido1";
    }

    #sPedido1{
        grid-area: sPedido1;
    }

    .pedidoProductos{
        flex-direction: column;
        align-items: center;
    }

    .pedidoProductos img {
        padding: 5px;
        background-color: rgb(214, 160, 148);
        margin-bottom: 15px;
    }

    #sPedido2{
        grid-area: sPedido2;
        border-right: 2px black solid;
    }

    .pedido a{
        height: 300px;
        width: 300px;
    }

    .separadorCarrito{
        margin-top: 0px;
    }

    #fPedido{
        margin-top: 0px;
    }

    /* page Nosotros */

    #nosotros{
        display: grid;
        grid-template-columns:2fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
        "section1 section2"
        ". section2";
        justify-items: center;
        align-items: center;
    }

    .sNosotros1{
        grid-area: section1;
        height: 350px;
        width: 450px;
        
    }

    .sNosotros1 h3{
        margin-top: 10px;
    }

    .sNosotros1 div p{
        margin-right: 20px;
        font-size: 18px;
        margin-left: 10px;
    }

    .sNosotros1 div img{
        margin-right: 10px;
    }

    .sNosotros2{
        grid-area: section2;
        margin-top: 0px;
    }

    .sNosotros2 .tNosotros{
        width: 175px;
    }

    .sNosotros2 .nRedes{
        margin-top: 0px;
    }
}


/* Style Desktop */

@media (min-width: 1024px) {
    #inicio{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 4fr  1fr 2fr;
        grid-template-areas: 
        "section1 section2 "
        "separador separador"
        "tarjetas tarjetas";
        align-items:center;
    }

    .desktop__only{
        display: initial;
        background-color: rgb(255, 221, 214);
    }

    .mobile__only{
        display: none;
    }

    #section1{
        grid-area: section1;
        grid-template-columns: 350px 350px;
        grid-template-rows: 85px 85px 85px 85px ;
        margin-top: 0px;
    }

    .collage{
        height: 350px;
        width: 350px;
    }

    #section2{
        grid-area: section2;
        height: 350px;
        margin-top: 0px;
        width: 320px;
    }

    #section2 .desktop__only{
        font-size: 21px;
    }

    #section2 p{
        margin-bottom: 0px;
        margin-left: 20px;
    }

    .separador{
        grid-area: separador;
        margin-top: 0px;
    }

    .tarjetas{
        grid-area: tarjetas;
        margin-top: 0px;
    }

    .tarjetas .tarjetas--style{
        height: 330px;
        width: 280px;
    }

    .tarjetas--style a{
        font-size: 18px;
    }

    .copyright .copyrightP{
       font-size: 12px;
    }

    .pedido a{
        margin-top: 60px;
    }

    /* Nosotros */

    #fNosotros{
        margin: 0px;
    }

    #nosotros{
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: 
        "section1 section2"
        "section1 section2"
        ". section2";
    }

    .sNosotros1{
        width: 600px;
    }

    .sNosotros1 div p{
        font-size: 21px;
    }

    .sNosotros1 div img{
        height: 175px;
        width: 175px;
    }

    .sNosotros2{
        margin: 0px;
    }
}