*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(252, 241, 239);
    font-family: 'Inter', sans-serif;
}

/* Style Mobile */

header nav {
    background-color: rgb(228, 205, 200);
}

main{
    display: flex;
    flex-direction: column;
    
}

#section1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#section1 .mobile-style{
    width: 75%;
    height: 75%;
}

#section2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;   
}

#section2 p {
    display: block;
    width: 75%;
    text-align: justify;
    font-size: 15px;
    background-color: rgb(255, 221, 214);
}

#section1 .desktop-style {
    display: none;
}

.separador {
    background-image:url(../images/navbar.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.separador h3 {
    font-size: 20px;
    background-color: rgb(255, 221, 214);
}

#ultimosProductos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}


.logoFlotante {
   position: fixed;
   bottom: 0;
   right: 0;
}

footer {
    background-color: rgb(228, 205, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    font-size: 13px;
    margin-bottom: 0;
}

.copyright{
    font-size: 10px;
    align-items: center;
}

.redes ul {
    list-style: none;
}

.redes ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Style Tablet */

@media (min-width: 768px) {
    header nav {
        background-image: url(../images/navbar.png);
    }
}


/* Style Desktop */

@media (min-width: 1024px) {

}


@media (min-width: 1440px){
    .navbar-brand img {
        height: 100px;
        width: 100px;
    }

    #navbarNav ul li {
        font-size: 18px;
        padding: 12px;
    }
}